doctype html
html
 head
  title isymonitor overview
body
  h1 Device status overview
  each device,addr in devices
      div
        each subdevice,subaddr in device
          div
            =addr + '.' + subaddr
            =' -> '
            =JSON.stringify(subdevice)


