head
  block title
    title isy
  link(rel="stylesheet" href="/media/main.css")  
body
  block navigation
    ul.nav
      li isymonitor>
      li 
        a(href='/status') status 
      li
        a(href='/devices') devices 
      li
        a(href='/variables') variables
      li
        a(href='/programs') programs

  block content
